<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <a [router-link]="['/Home']" class="mdl-navigation__link">
        <span class="mdl-layout-title">{{ title }}</span>
      </a>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
      </nav>
    </div>
  </header>
 
  <main class="mdl-layout__content" fix-scrolling>
    <router-outlet (titleUpdated)="updateTitle($event)"></router-outlet>
  </main>
 
</div>