<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ theme.title }}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <img [src]="theme.logo" alt="" width="200" height="200">
    <p>{{ theme.description }}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a [router-link]="[ '/Technology', {name: theme.slug, id:''} ]" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Start test
    </a>
  </div>
  <div class="mdl-card__menu"></div>
</div>