<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ question?.title }}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
      {{ question?.description }}
    </p>
    <ul class="mdl-menu" for="demo-menu-lower-left">
      <li *ng-for="#choice of question?.choices; #i = index" 
          class="mdl-menu__item"
          [class.wrong]="preview && !choice.isCorrect()"
          [class.correct]="preview && choice.isCorrect()"
      >
      
        <label [attr.for]=" 'switch-' + i ">

          <input  type="checkbox" 
                  [attr.id]=" 'switch-' + i "
                  class="mdl-switch__input"
                  [checked]="choice.checked"
                  [disabled]="preview"
                  (change)="onCheckedChange($event, choice)"/>
                  
          <span class="mdl-switch__label">{{ choice.label }} - {{ choice.correct }}</span>
          
        </label>
        
        <span *ng-if="preview" class="answer" >{{ choice | mark }}</span>
        
      </li>
    </ul>
  </div>
</div>